
/* *{
    background-color: rgba(255, 208, 0, 0.774);
} */

.box{
    width: 300px;
    border: 3px solid rgb(0, 255, 0);
    padding: 5px;
    margin: 20px;
    text-align: center;
    margin-left: 70px;
    border-radius: 20px;
    
  }
.div{
    color: rgb(206, 192, 3);
    
    display: flex;
    
    
    
}
.button{
    border-color: blue;
    border-radius: 10px;
   
    background-color: rgb(255, 0, 0);
  
    text-decoration: black;
    
    

}
.img{
    margin-left: 450px;
}